
/* Status box
-------------------------------------------------- */

.fa-check {
  color: green;
  /*font-size: 18px;*/
}
.fa-exclamation-circle {
  color: red;
  /*font-size: 18px;*/
}
p {
  margin-top: 0em;
  margin-bottom: 0em;
}

.panel-body p {
  font-size: 20px;
}


/* Footer
-------------------------------------------------- */

.footer {
  /*position: relative;*/
  height: 150px;
  clear: both;
  padding-top: 40px;
  padding-bottom: 40px;
  /*margin-top: 40px;*/
  border-top: 1px solid #eee;
  /*border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(238, 238, 238);*/
}


/* Sidebar
-------------------------------------------------- */

body {
  padding-top: 51px;
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}
