
/* Status box styles
-------------------------------------------------- */

.fa-check {
  color: green;
  /*font-size: 18px;*/
}
.fa-exclamation-circle {
  color: red;
  /*font-size: 18px;*/
}
p {
  margin-top: 0em;
  margin-bottom: 0em;
}

.panel-body p {
  font-size: 20px;
}


/* Footer styles
-------------------------------------------------- */

.footer {
  position: relative;
  height: 150px;
  clear: both;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(238, 238, 238);
}
