You are now receiving alerts for <%= region %>.

To unsubscribe to these alerts, please follow this link: <a href="http://vast-escarpment-2018.herokuapp.com<%= unsubscribeUrl %>" method='delete'>unsubscribe</a>
